html {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background: linear-gradient(to bottom right, #4d9900, #3d3d5c);
  color: #33334d;
  height: 100%;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: linear-gradient(-120deg, #ffaa00, #b3ccff);
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4d3300;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: linear-gradient(45deg, #4d9900, #3d3d5c);
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 10px;
 }

p {
  margin: 0;
  padding: 10px;
  /*transition: background 0.2s;*/
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  border-left: 1px solid #4d3300;
}
